:root {
    --color-1: #d8c4e6;
    --color-2: #5e548e;
    --color-3: #888;
}

@font-face {
    font-family: "gotu";
    src: url(../resources/font/Gotu/Gotu/Gotu-Regular.ttf);
}

@font-face {
    font-family: "epilogue";
    src: url(../resources/font/Gotu/Epilogue/Epilogue-VariableFont_wght.ttf);
}